<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>
<div class="c-container">
  <div class="u-centered">
    <h2>Busca el mejor seguro para ti y los tuyos</h2>
    <input type="text" [(ngModel)]="userFilter.name" placeholder="Type to filter by name">
    <input type="text" [(ngModel)]="userFilter.kind" placeholder="Type to filter by kind">
    <input type="text" [(ngModel)]="userFilter.brand" placeholder="Type to filter by brand">
    <input type="text" [(ngModel)]="userFilter.price" placeholder="Type to filter by price">
  </div>

  <ul class="c-products-list">
    <li *ngFor="let product of products | filterBy: userFilter  | slice:sliceStart:sliceEnd" class="c-products__item">
      <ng-container>
        <div><h3>{{product.name}}</h3></div>
        <div>
          <img src="assets/img/{{product.brandImage}}" alt="">
          <p>{{product.brand}}</p>
        </div>
        <div>
          <img src="assets/img/{{product.kindImage}}" alt="">
          <p>{{product.kind}}</p>
        </div>
        <p class="c-price-tag">{{product.price}}€</p>
      </ng-container>
    </li>
  </ul>

  <div class="u-right" *ngIf="products.length > sliceEnd">
    <button (click)="increaseNumbers()"> Next </button>
  </div>

</div>
