<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>


<ul class="c-products-list">
  <li *ngFor="let product of products" class="c-products__item">
    <ng-container>
      <div><h3>{{product.name}}</h3></div>
      <div>
        <img src="assets/img/{{product.brandImage}}" alt="">
        <p>{{product.brand}}</p>
      </div>
      <div>
        <img src="assets/img/{{product.kindImage}}" alt="">
        <p>{{product.kind}}</p>
      </div>
      <p class="c-price-tag">{{product.price}}</p>
    </ng-container>
  </li>
</ul>


