/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Questrial');

// Reset

html,
body,
div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre
{
  font-size: 100%;
  font-weight: normal;

  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
  outline: 0;
  background: transparent;
}

table
{
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td
{
  text-align: left;
  vertical-align: top;
}

img
{
  border: 0;
}

img {
  max-height:50px;
}

* {
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}
// Custom

.c-container {
  max-width: 1280px;
  margin:0 auto;
}
.c-products-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0;
  padding:0;
}
.c-products__item {
  flex: 1 1 25%;
  list-style-type:none;
  background-color: #f2f2f2;
  border-width:1px;
  border-style: solid;
  margin:15px;
  padding:24px;
  border-color:#f1f1f1;
}
h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 10px 0;
}
h2  {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 10px 0;
}
h3 {
  font-family: 'Questrial', sans-serif;
  font-size:1.2rem;
  margin: 5px 0;
}
input {
  padding: 10px 20px;
  border:0;
  border-radius:15px;
  font-size:1rem;
}
.c-price-tag {
  background-color: #ffec00;
  color: #282c36;
  padding: 20px;
}
button {
  background-color: #5d5d5d;
  color: #ffec00;
  padding: 20px;
  box-shadow: none;
  border: 0;
  font-size: 1rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.u-centered {
  padding:24px;
  text-align: center;
}

.u-flex {
  display: flex;
  > .u-right {
    margin-left: auto;
  }
}
